@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

body{
	padding: 100px;
	background-color: #4A6B8A;
	font-family: sans-serif;
}

#container {
	display: flex;
	justify-content: center;
}

.title {
	display: flex;
	justify-content: center;
	color: white;
	letter-spacing: 3px;
	font-family: 'Cormorant Garamond', serif;
}